.hero{
    background: url(../assets/images/herobg.jpg) center bottom/auto 100% repeat-x;
    position: relative;
    overflow: hidden;
    .hero-img{
        padding-bottom: percentage(666/939);
        background: url(../assets/images/hero.jpg) center bottom/100% auto no-repeat;
    }
    .container{
        text-align: center;
        h1{
            position: absolute;
            font-size: 4rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0 0 10px rgba(black, .5);
            color: #F57E63;
        }
    }
}